<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_rental_Systemm.Properties.Settings.CarrentalConnectionString"
            connectionString="Data Source=LAPTOP-HUOGNCN9;Initial Catalog=Carrental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>